body {
  background-color: lightpink;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: floralwhite;
  text-align: center;
}

.lead img {
    width: 320px;
    border-radius: 50%;
    }

p {
  font-family: Georgia;
  font-size: 18px;
}
